!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Star Wars App'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Star Wars App'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', media: 'all'
    = csrf_meta_tags

  %body
    %header
    %main{:role => "main"}
      = render 'layouts/messages'
      = link_to root_path do
        .row.justify-content-md-center
          .col-md-4
            = image_tag 'star_wars.png', class: 'star-logo'
          .col-md-4.text-right
            = image_tag 'death_star_icon.png', class: 'death-logo'

      = yield

  = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
